/* **** BASE CONTENT **** */
*
{
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: verdana;
    text-decoration: none !important;
}

/* **** PROGRESS **** */
#progress {
    background-color: #061429;
    position: fixed;
    bottom: 20px;
    right: 20px;
    height: 50px;
    width: 50px;
    display: none;
    place-items: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    z-index: 1000;
}
#progressValue {
    display: block;
    height: calc(100% - 15px);
    width: calc(100% - 15px);
    background-color: var(--main-color);
    display: grid;
    place-items: center;
    font-size: 20px;
    color: white;
    font-weight: bold;
}

/* **** BASE COLOR **** */
:root{
     --main-color: #1F425D; 
    /* --main-color: #071c34; */
    --second-color: #E94D1A;
    --third-color: #4AB9CF;
    --white-color: #FFFFFF;
    --black-color: #222;
}
/* **** first menu **** */
.first-menu{
    position: fixed;
    top: 0;
  background-color: var(--main-color);
  width: 100%;
  height: 5vh;
  color: var(--white-color);
  place-items: center;
  display: flex;
  border-top: 3px dashed var(--third-color);
  z-index: 100000;
}

.left-icon {
    position: absolute;
    left: 5vh;
}
.left-icon p i{
color: var(--third-color);
font-weight: bold;
}
.left-icon p, .rigth-icon i{
    margin-left: 3vh;
    font-size: 17px; 
}
.rigth-icon{
    position: absolute;
    right: 5vh;
}
/* **** second menu **** */
 .second-menu{
    background-color: var(--white-color);
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: end;
    position: fixed;
    top: 5vh;
    box-shadow: rgba(0, 0, 0, 0.4) 3px 3px 4px;
    z-index: 1000;
 }
 
 .menu-items ul{
    display: flex;
    position: absolute;
    right: 5vh;
    top: 3.1vh;
 }
 .menu-items ul a {
    margin-left: 5vh;
    color: var(--black-color);
 }
 .active, .menu-items li a:hover{
    color: var(--second-color);
 }
 .second-menu.logo img{
    max-width: 50px;
    max-height: 50px;
    position: absolute;
   right: 5vh;
    top: 3.1vh;
 }
 /* From Uiverse.io by mobinkakei */ 
.cta {
    display: flex;
    padding: 11px 33px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    background: var(--main-color);
    transition: 1s;
    box-shadow: 6px 6px 0 black;
    transform: skewX(-15deg);
    border: none;
    cursor: pointer;
  }
  
  .cta:focus {
    outline: none;
  }
  
  .cta:hover {
    transition: 0.5s;
    box-shadow: 10px 10px 0 var(--second-color);
  }
  
  .cta .second {
    transition: 0.5s;
    margin-right: 0px;
  }
  
  .cta:hover .second {
    transition: 0.5s;
    margin-right: 45px;
  }
  
  .span {
    transform: skewX(15deg);
  }
  
  .second {
    width: 20px;
    margin-left: 30px;
    position: relative;
    top: 12%;
  }
  
  .one {
    transition: 0.4s;
    transform: translateX(-60%);
  }
  
  .two {
    transition: 0.5s;
    transform: translateX(-30%);
  }
  
  .cta:hover .three {
    animation: color_anim 1s infinite 0.2s;
  }
  
  .cta:hover .one {
    transform: translateX(0%);
    animation: color_anim 1s infinite 0.6s;
  }
  
  .cta:hover .two {
    transform: translateX(0%);
    animation: color_anim 1s infinite 0.4s;
  }
  
  @keyframes color_anim {
    0% {
      fill: white;
    }
  
    50% {
      fill: var(--third-color);
    }
  
    100% {
      fill: white;
    }
  }


  /* BANIERE */
  .container-baniere{
    margin-top: 22px;
    width: 100%;
    background-image: url("../images/bannieres/banner_acceuil.png");
    height: 500px;
    background-size: cover;
  }

  .text-baniere{
    position: absolute;
    top: 25%;
    left: 3%;
  }
  .text-baniere h1{
    font-weight: 700;
    font-size: 7vh;
  }
  .text-baniere p{
    font-size: 3vh;
   font-style: italic;
  }

  /* A PROPOS */
  .container-apropos{
    height: 500px;
    background-color: #f3f3f3;
    margin-top: 10vh;
    margin-bottom: 4vh;
  }
  .content-apropos {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
    grid-column-gap: 12px;
    grid-row-gap: 0px;
    
   
    }
    
    .place-image
    {
       grid-area: 1 / 1 / 2 / 2;
       
     }
    .place-texte
    { 
      grid-area: 1 / 2 / 2 / 3;
      
     }
    .content-apropos .place-image img{
      width: 100%;
    }
    .content-apropos .place-texte {
      margin-top: 5vh;
      font-size: 18px;
    }

    .titre-section h3{
      text-align: center;
      font-weight: 600;
      font-style: italic;
      padding: 1vh;
      padding-top: 5vh;
    }
    .titre-section span{
      width: 85px;
      height: 3px;
      display: block;
      background-color: var(--second-color);
      margin: 0 auto;
      margin-bottom: 20px ;
    }

    /* service */
    .Nos-service {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(2, 1fr);
      grid-column-gap: 12px;
      grid-row-gap: 13px;
      text-align: center;
      }
      
      .service1 {
         grid-area: 1 / 1 / 2 / 2; 
        }
      .service2 {
         grid-area: 1 / 2 / 2 / 3; 
      }
      .service3 {
         grid-area: 1 / 3 / 2 / 4; 
        }
      .service4 {
         grid-area: 2 / 1 / 3 / 2; 
        }
      .service5 {
         grid-area: 2 / 2 / 3 / 3;
         }
      .service6 {
         grid-area: 2 / 3 / 3 / 4;
         }

         .Nos-service div {
          border: 2px solid var(--second-color);
           padding: 25px;
           box-shadow: 1px 3px 17px -3px rgba(0, 0, 0, 0.79);
         }
         .Nos-service div:hover {
          border: 4px solid var(--second-color);
           padding: 25px;
           box-shadow: 1px 3px 17px -3px rgba(0, 0, 0, 0.79);

         }
         .Nos-service  h3 {
          margin-bottom: 15px;
          font-size: 26px;
         }
         .Nos-service  p {
          font-size: 17px;
         }

         /* realisation */
         .container-realisation .card img{
          height:  200px;
         }
         .container-realisation .card {
          height:  600px;
          border: 2px solid var(--third-color);
          box-shadow: 1px 3px 17px -3px rgba(0, 0, 0, 0.79);
         
         }
         .container-realisation .card:hover {
          height:  430px;
          border: 2px solid var(--second-color);
          box-shadow: 1px 3px 17px -3px rgba(0, 0, 0, 0.79);
          
         }
         .btn-model{
          background-color: var(--main-color);
         }
         .btn-model:hover{
          background-color: var(--second-color);
         }
         .modal-footer{
          background-color: var(--main-color);
         }

         /* equipe */

         .container-equipe{
          background-color: #f3f3f3;
          margin-top: 7vh;
         }
         .content-equipe {
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          grid-template-rows: 1fr;
          grid-column-gap: 0px;
          grid-row-gap: 0px;
          text-align: center;
          
          }
          
          .div1 { grid-area: 1 / 1 / 2 / 2; }
          .div2 { grid-area: 1 / 2 / 2 / 3; }
          .div3 { grid-area: 1 / 3 / 2 / 4; }

  .icon-social{
    height: 40px;
    width: 40px;
    display: flex;
    font-size: 2.1em; 
  }
  .icon-social i{
    border: 3px dotted var(--second-color);
    border-radius: 10px;
    padding: 5px;
  }

  /* faq */
  .accordion-item {
    border: 2px solid var(--second-color);
    box-shadow: 1px 3px 17px -3px rgba(0, 0, 0, 0.70);
    margin-bottom: 10px;
  }
  .accordion-item:hover {
    border: 3px dashed var(--second-color);
    box-shadow: 1px 3px 17px -3px rgba(0, 0, 0, 0.70);
    margin-bottom: 10px;
  }
  /* temoignage*/
  .container-temoignage{
    background-color: #f3f3f3;
    margin-top: 7vh;
  }
  .content-temoignage {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 25px;
    grid-row-gap: 25px;
    text-align: center;
    margin-top: 15vh;
    }
    .content-temoignage .temoignage{
      background-color: var(--white-color);
      padding: 4vh;
    }
    .content-temoignage .temoignage:hover{
      background-color: var(--main-color);
      color: var(--white-color);
      transform:scale() ;
      padding: 4vh;
      box-shadow: 3px 3px 3px gray;
    }


    .content-temoignage .temoignage img{
       width: 30%;
      height: 30%; 
      margin-top: -26% ;
    }

    .content-temoignage .temoignage p:nth-child(odd){
      font-size: 17px;
    }
    
    .div1 { grid-area: 1 / 1 / 2 / 2; }
    .div2 { grid-area: 1 / 2 / 2 / 3; }
    .div3 { grid-area: 1 / 3 / 2 / 4; }

    .content-temoignage h5{
      padding: 10px;
    }

    /* footer */

    .footer{
      background-color: var(--main-color);
      color: var(--white-color);
      min-height: 350px;
      padding: 9px;
      margin-top: 7vh;
      margin-bottom: 4vh;
      background-size: cover;
      
    }
    .container-footer {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: 1fr;
      grid-column-gap: 25px;
      grid-row-gap: 0px;
    
      }
      
      .footer1 {
         grid-area: 1 / 1 / 2 / 2;
         }
      .footer2 {
         grid-area: 1 / 2 / 2 / 3;
         }
      .footer3 {
         grid-area: 1 / 3 / 2 / 4;
         }
      .footer4 {
         grid-area: 1 / 4 / 2 / 5; 
        }
  .footer2 a ,.footer3 a {
    color: var(--white-color) !important;
  }
  .footer2 a:hover ,.footer3 a:hover {
    color: var(--second-color);
  }
  
  .footer1 span {
    color: var(--second-color);
  }

  .footer4 button {
    background-color: var(--second-color);
    color: var(--white-color);
    border-radius: 10px;
    margin-top: 5px;
    width: 100%;
  }
  
  

